body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Default to dark mode background */
    color: #f0f0f0; /* Light text for dark mode */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for mode change */
}

body.light-mode {
    background-color: #f0f0f0; /* Light mode background */
    color: #333; /* Dark text for light mode */
}

header {
    margin-bottom: 20px;
    color: inherit; /* Inherit text color from body */
}

main {
    background-color: #444; /* Default to dark mode */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Smooth transition for mode change */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

body.light-mode main {
    background-color: #fff; /* Light mode */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form elements */
    width: 100%;
}

form div {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Add space between buttons */
}

button:hover {
    background-color: #555;
}

footer {
    margin-top: 20px;
    color: inherit; /* Inherit text color from body */
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #444;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
